/* <--- reset ---->  */
/* stylelint-disable*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block
}

html {
  line-height: 1;
  height: 100%;
}

body {
  line-height: inherit;
  height: 100%;
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

/* stylelint-enable */

html {
      font-family: "Source Sans Pro",sans-serif;
}

.full-width {
  width: 100%;
}

h1 {
font-size: 3em;
margin: .5em 15vw 1em 15vw;
}

h2 {
  font-weight:bold;
  margin-bottom: .5em;
}

p {
  font-size: 1.188em;
  line-height: 1.188em;
}

.story {
  margin: 0 15vw 0 15vw;
}

.pull-quote {
  font-size: 1.35em;
  background: linear-gradient(transparent 65%, #c0d2ca 50%);
  margin: 1em 0 1em 0;
  text-align: center;
  line-height: 1.3em;
}

.instoryimg {
 display: flex;
 margin: 1em 0 1em 0;

}

figure {
display: flex;
flex-direction: column;

}

.big {
  flex: 0 0 auto;
  flex-basis: 70%;
}

.little {
  flex: 1 0 0;
}

figcaption {
font-size: .9em;
font-weight: lighter;
line-height: 1.1em;
margin-top: .5em;

}

img {
  max-width: 100%
}
